
body {
    background: #176113;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 20wo0YogndQAYCXlUodU723R6ZPgh6lZZbQSLx9ewbmdkth29BxWKoVbjKNTHx9YMzx6TjwSkd6cIzpsaiPAc0TszZsU00AFdQjNZYhEwWzAAFJ1ZLA2AWOLqEcwdXqZpVTGnJpIucEBqq4z1QZxzBUlkoEGdIweWdZTAN23NHqLFzCGB4hlJesCE9KMq548fpmE4HW7 */
